spring:
  datasource:
    url: jdbc:postgresql://booksclub-email-db:5432/booksclub_mail_service_db
#    url: jdbc:postgresql://localhost:5432/booksclub_mail_service_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  kafka:
    consumer:
#      bootstrap-servers: localhost:9092,localhost:9094,localhost:9096
      bootstrap-servers: host.docker.internal:9092,host.docker.internal:9094,host.docker.internal:9096
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: person-created-account
      properties:
        spring.json.trusted.packages: com.booksclub.core
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  mail:
    host: smtp.mail.ru
    port: 587
    username: 
    password: 
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  flyway:
    baseline-on-migrate: true
    enabled: true
    locations: classpath:db/migration
logging:
  level:
    org:
      flywaydb: DEBUG
      springframework:
        jdbc: DEBUG
server:
  port: 8081
